<div class="nested-fields">
  <%= f.label :title, "title" %>
  <%= f.text_field :title, :class => "form-control" %><br>

  <%= f.label :email, "email" %>
  <%= f.email_field :email, :class => "form-control" %>

    <%= f.label :password, "password" %>
  <%= f.password_field :password,:class => "form-control" %>

  <%= f.label :remark, "remark" %>
  <%= f.text_field :remark,:class => "form-control" %><br>
  <%= f.file_field :image,  accept: 'image/png, image/gif, image/jpeg' %><br>
  <%= link_to_remove_association "remove credential", f %>
</div>