<%# <%= link_to 'Back',"/homes" , :class => "btn btn-primary" %> 
  <br>
  <br>
<h1 style=" text-align: center;">Select User For Project</h1>
  <br>
  <br>

<table id="customers">
  <tr>
    <th>id</th>
    <th>email</th>
    <th>Username</th>
    <th>Action</th>
  </tr>
<% @user.each do |user| %>
  <tr>
    <% if user.confirmed?%>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= link_to "Assign project", {:controller => "assginedprojects", :action => "adduser", :user => user.id }%></td>
    </tr>
    <% end %>
<% end %>





