<div class="container">
  <%= form_for(@project, :html => {:class => "form-control"}) do |f| %>
      <% if @project.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      </div>
      <% end %>
    <div  class="container">
      <h1>Add Project</h1>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>  
      <div>
          <%= f.label :client_name %>
          <%= f.text_field :client_name, :class => "form-control" %>
        </div><br>

        <div>
          <%= f.label :pay_rate%>
          <%= f.text_field :pay_rate, :class => "form-control" %>
        </div><br>

        <div>
          <%= f.label :pay_frequency %> <br />
          <%= f.select :pay_frequency,['perday','perweek','permonth'], :class => "form-control" %>
        </div>

        <h3>Credentials</h3>
        <div id='credentials'>
          <%= f.fields_for :credentials do |credential| %>
            <%= render 'credential_fields', :f => credential %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'add credential', f, :credentials %>
          </div>
        </div>
        <%= f.submit :class => 'btn' %>
      <% end %>
  </div>
</div>