  <%# <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> %>
 <% current_user.projects.each do |project| %>
              <h4>Project Title: <%= project.title %></h4>
              <h4>Project Client Name: <%= project.client_name %></h4>
              <h2> Project Credentials</h2>
              <table id="customers" >
                <tr>
                  <th>id</th>
                  <th>title</th>
                  <th>email</th>
                  <th>password</th>
                </tr>
                <%project.credentials.each do |credential|%>
                  <tr>
                    <td><%= credential.id %></td>
                    <td><%= credential.title %></td>
                    <td><%= credential.email %></td>
                    <td><%= credential.password %></td>
                  </tr>
                <%end%><%#second each loop%>
              </table>
               <% project.users.each do |project_with_users| %>
                <p>anotheruser: <%= project_with_users.username%></p>
              <% end %>
            <%end%><%#first project each loop%>








